<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do List</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="box" id="heading">
        <h1>
            Today Task
        </h1>
    </div>

    <div class="box">
        <%newItem.forEach(element=> {%>
            <form action="/delete" method="post">
                <div class="item">
                    <input name="chkbox" type="checkbox" value="<%= element._id %>" onchange="this.form.submit()">
                    <p>
                        <%=element.name%>
                    </p>
                </div>
                <input type="hidden" name="listname" value="<%= ListTitle%>">
            </form>
            <%});%>


                <form class="item" action="/" method="post">
                    <input type="text" name="addItem" id="" placeholder="Add Item" autocomplete="off">
                    <button type="submit" name="list" value=<%=ListTitle%>>+</button>
                </form>
    </div>

</body>
<footer>
    Made by Priyanka Ralebhat
</footer>

</html>